

.company_profile_page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    
}


.toparea{
    flex: 1;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.toparea .company_logo_div{
    display: flex;
    align-items: center;
    width: 10em;
}
.toparea .company_logo_div img{
    margin: 1em 1em;
    width: 100%;
}
.toparea .company_description{
    padding: 2em 1em;
    /* padding-top: 1em; */


    /* padding-right: 20em; */
}

/* MAIN AREA  */
.main_area{
    padding: 1em 1em;
    min-height: 40vh;
    display: flex;
    
    
}

/* DETAILS AREA  */
.main_area .details_area{
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 1em 2em;
}
.main_area .details_area h1{
    font-size: 1.5em;
    margin-top: 1em;
}





/* ASIDE  */
.main_area aside{
    flex: 0.8;
    padding: 1em 1em;
    display: flex;
    flex-direction: column;
}
.main_area aside .key_details_div{
    display: flex;
    flex-direction: column;
    flex: 2;
}
.main_area aside .key_details_area{
    display: flex;
    
}
.key_details_area .col1{
    flex: 1;
    
}
.key_details_area .col2{
    flex: 1;
    
}
.main_area aside .detail_heads{
    margin-top: 0.6em;
    font-size: 0.8em;
    opacity: 0.7;
}
.main_area aside .info{
    font-size: 1.2em;
    font-weight: 800;
}

.news_div{
    flex: 2;
    margin-top: 2em;
    flex-direction: column;
}
.news_div .news_area{
    display: flex;
    flex-direction: column;
}
.news_div .news_area .news{
    flex: 1;
    display: flex;
    flex-direction: column;
}


/* BOTTOM AREA  */
.bottom_area{
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
}
.bottom_area .contact_area{
    display: flex;
    padding: 1em 1em;
}
.bottom_area .contact_area .contact_header{
    font-size: 1.4em;
    font-weight: 900;
}
.bottom_area .contact_area .col{
    flex: 1;
}
.contact_area .col img{
    width: 2em;

}

.bottom_area .download_button{
    text-decoration: none;
    color: white;
    background-color: var(--darkblue);
    padding: 1em 1em;
    font-size: 1em;
    font-weight: 500;
    border-radius: 2em;
    margin: 1em 1em;
    display: flex;

}
.bottom_area .download_area{
    display: flex;

}



.potential{
    color: red;
    padding: 2em 2em;
}
.potential:hover{
    text-shadow: 1px 1px 13px black;
}
