
:root {
  --darkblue: #06283d;
  --blue: #1363df;
  --lightblue: #47b5ff;
  --ultralightblue: #dff6ff;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
  display: flex;
  justify-content: space-between;
}

.navbar .navlogo{
  width: 20%;
}
.navbar .navlogo img{
  width: 100%;
  background-color: black;
  
}

.navbar ul{
  list-style-type: none;
  display: flex;
}

.navbar .rightsidenav img{

}