

/* PROFILE AREA  */
.profile_area_div{
  flex: 1;
  /* border: 2px solid black; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 2em 1em;
  
}
.profile_pic_div{
  width: 40%;
  
}
.profile_pic_div img{
  border-radius: 100%;
  width: 100%;
}


.investor_info_text{
  text-align: center;
  margin-top: 1em;
}
.name_of_investor{
  font-size: 2em;
  font-weight: 500;

}
.profession_text{
  margin-top: 0.5em;
  opacity: 0.7;

}
.details_text{
  margin-top: 5em;
  /* font-weight: 600; */

}
